


.header{
    width : 1000px;
    height : 200px;
    background-color :rgb(85, 162, 225);
    margin : 0 auto;
    text-align : center;
}
.header h1{
    padding-top : 50px;
    font-size : 50px;
    color : rgb(52, 79, 180);


}
.header h2{
    font-size : 30px;
    color : rgb(99, 130, 240);
    padding-bottom : 0px;
}
.main_container{
    display : flex;
    width : 1000px;
    
    margin : 0 auto;
}
.left{
    width : 200px;
    height : 400px;
    background-color : rgb(166, 205, 237);
    
    margin : 0 auto;
}
.right{
    width : 200px;
    height : 400px;
    background-color : rgb(166, 205, 237);
    
    margin : 0 auto;
}
.center{
    flex : 1; /* 남은 공간을 모두 차지하도록 설정 */
    width : 600px;
    height : 400px;
    background-color : rgb(99, 102, 241);
    opacity: 0.08;
    
    margin : 0 auto;

}
.center h2{
    text-align : center;
    color :black;
    opacity: 1;
    padding-top : 20px;
}
.center p{
    text-align : center;
    padding-top : 20px;
    font-size : 20px;
}
.centermain{
    width : 1000px;
    height : 400px;
    background-color : rgb(182, 216, 243);
    margin : 0 auto;
}
.footer{
    width : 1000px;
    height : 150px;
    background-color : rgb(108, 169, 219);
    margin : 0 auto;
    text-align : center;
    clear : both; /* float 속성으로 인해 요소가 겹치는 것을 방지하기 위해 clear 속성을 사용 */
    line-height : 150px; /* 수직 중앙 정렬을 위해 line-height를 요소의 높이와 동일하게 설정 */
}
.footer h2{
    padding-top : 50px;
    font-size : 30px;
    color : rgb(52, 79, 180);
}
